.form {
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   
   /** 600 **/
   @media (min-width: 0px) {
      width: 100%;

      padding: 40px;
   }

   @media (min-width: 900px) {
      width: 40%;

      padding: 8vw;
   }
   > h2 {
      color: #000000;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 41px;
      line-height: 50px;
      /* identical to box height */
      
      text-align: center;
      font-weight: 700;

      text-align: center;

      margin-bottom: 15px;
   }

   .welcome-text {
      text-align: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #000000;

      margin-bottom: 80px;
   }

   .buttons-social-media {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      width: 100%;

      margin-bottom: 30px;
   }

   .sign-up-text {
      margin-bottom: 25px;

      font-size: 13px;
      font-weight: 500;
      color: #aaaaaa;
   }

   .sign-in-text {
      color: #aaaaaa;
      font-size: 14px;
      font-weight: 500;

      > span {
         color: #7436ff;

         cursor: pointer;
      }
   }
   .forgot-password{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      
      color: #890000;
      margin-left: 6.9vw;
   }
   .line{
      display: flex;
      flex-direction: row;
   }
   .remember-text{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      color: #000000;
      margin-left: 8px;
   }
}

