.illustration-box {
   width: 60%;
   height: 100%;

   background: #F5F1FF;

   display: flex;
   align-items: center;
   justify-content: center;

   @media (min-width: 0px) {
      display: none;
   }

   @media (min-width: 900px) {
      display: flex;
   }

   > img {
      width: 100%;
   }
}