.login-page {
   width: 100vw;

   display: flex;
   align-items: center;
   justify-content: space-between;

   @media (min-width: 0px) {
      height: 100%;
   }

   @media (min-width: 760px) {
      height: 100vh;
   }
}