.button-sign-up {
      background: #890000;

      width: 100%;

      padding: 15px 0;

      margin-top: 38px;
      outline: none;

      border: 0;
      border-radius: 59px;

      margin-bottom: 25px;

      color: #EBE3CF;
      font-size: 14px;
      font-weight: 500;

      cursor: pointer;

      &:hover {
            background: #6822ff;
      }
}
